<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<div class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Edit offer</h1>
                </div>
                <form th:action="@{/offers/edit/{id}(id=${offerModel.id})}"
                      th:method="post"
                      th:object="${offerModel}"
                      class="m-md-auto w-50 pb-3">

                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <input th:field="*{description}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center"
                               id="description" aria-describedby="description" name="description"/>
                        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Error
                            message</small>
                    </div>

                    <div class="mb-3" style="margin-top: 2%">
                        <label class="form-label" style="display: flex; justify-content: center; font-weight: bold" for="photoInput">Image</label>
                        <input th:field="*{imageUrl}"
                               th:value="*{imageUrl}"
                               th:errorclass="is-invalid" type="text" class="form-control" id="photoInput" onchange="previewImage()">
                        <img id="photoPreview" src="#" alt="Photo Preview" style="display:none; max-width: 100%; height: auto; margin-top: 20px;"/>
                        <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}"
                               class="text-danger">Error message</small>
                    </div>
                    <script>
                        function previewImage() {
                            var input = document.getElementById('photoInput');
                            var preview = document.getElementById('photoPreview');

                            preview.src = input.value;

                            if (input.value) {
                                preview.style.display = 'block';
                            } else {
                                preview.style.display = 'none';
                            }
                        }
                    </script>

                    <fieldset class="mb-3">
                        <legend>Choose Engine</legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input th:field="*{engine}"
                                       th:value="GASOLINE"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="engine"/>
                                <span>GASOLINE</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{engine}"
                                       th:value="DIESEL"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="engine"/>
                                <span>DIESEL</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{engine}"
                                       th:value="ELECTRIC"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input " name="engine"/>
                                <span>ELECTRIC</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{engine}"
                                       th:value="HYBRID"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input " name="engine"/>
                                <span>HYBRID</span>
                            </label>
                        </div>
                        <small th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}"
                               class="text-danger">Error message</small>
                    </fieldset>

                    <div class="mb-3">
                        <label class="form-label" for="mileage">Mileage</label>
                        <input th:field="*{mileage}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center"
                               id="mileage" aria-describedby="mileage" name="mileage"/>
                        <small th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}" class="text-danger">Error
                            message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="mileage">year</label>
                        <input th:field="*{year}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center"
                               id="year" aria-describedby="year" name="year"/>
                        <small th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger">Error
                            message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="mileage">Price</label>
                        <input th:field="*{price}"
                               th:errorclass="is-invalid"
                               type="text" class="form-control text-center"
                               id="price" aria-describedby="price" name="price"/>
                        <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Error
                            message</small>
                    </div>

                    <fieldset class="mb-3">
                        <legend>Choose Transmission</legend>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input th:field="*{transmission}"
                                       th:value="MANUAL"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="transmission"/>
                                <span>MANUAL</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <label class="form-check-label">
                                <input th:field="*{transmission}"
                                       th:value="AUTOMATIC"
                                       th:errorclass="is-invalid"
                                       type="radio" class="form-check-input" name="transmission"/>
                                <span>AUTOMATIC</span>
                            </label>
                        </div>
                    </fieldset>

                    <div class="mb-3">
                        <label class="form-label" for="user">User</label>
                        <select th:field="*{user}"
                                th:errorclass="is-invalid"
                                class="form-control text-center"
                                id="user" aria-describedby="user" name="user">
                            <option th:each="user : ${availableUsers}"
                                    th:value="${user.id}"
                                    th:text="${user.username}">user</option>
                        </select>
                        <small th:if="${#fields.hasErrors('user')}" th:errors="*{user}" class="text-danger">Error message</small>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="model">Model</label>
                        <select th:field="*{model}"
                                th:errorclass="is-invalid"
                                class="form-control text-center"
                                id="model" aria-describedby="user" name="user">
                            <option th:each="model : ${availableModels}"
                                    th:value="${model.id}"
                                    th:text="${model.name}">user</option>
                        </select>
                        <small th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="text-danger">Error message</small>
                    </div>



                    <button type="submit" class="btn btn-secondary">Add Model</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="fragments/footer"/>
</html>