<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <h2 class="text-center text-dark mt-5">All Offers</h2>
                <h3>Sort</h3>
                <a th:href="@{/offers/all(sort='priceasc')}">By price(asc)</a>
                <a th:href="@{/offers/all(sort='pricedesc')}">By price (desc)</a>
                <a th:href="@{/offers/all(sort='yearolder')}">By year (Older)</a>
                <a th:href="@{/offers/all(sort='yearnewer')}">By year (Newer)</a>
                <a th:href="@{/offers/all}">Reset</a>
            </div>
                </div>
                <div th:each="o : ${offersInfos}" class="d-flex flex-column bg-text mb-3">
                    <h3 th:text="'Brand: ' + ${o.model.brand.name}"></h3>
                    <h3 th:text="'Model: ' + ${o.model.name}"></h3>
                    <h3 th:text="'Year: ' + ${o.year}"></h3>
                    <h3 th:text="'Price: ' + ${o.price}"></h3>
                    <h3 th:text="'Owner: ' + ${o.user.username}"></h3>
                    <h4><a class="btn-block" th:href="@{/offers/{id}(id=${o.id})}">Detail
                        info</a></h4>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>